<!DOCTYPE html>
<html smlns:th="https:www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<img th:src="@{/images/cam.jpg}" alt="Imagen camaron" class="icono"></img>
	<h1>Tipos de loterias:</h1>
	<ul>
		<li><a th:href="@{/loto/genera/49/6/española}">Loteria española</a></li>
		<li><a th:href="@{/loto/genera/49/6/alemana}">Loteria alemana</a></li>
		<li><a th:href="@{/loto/genera/49/5/francesa}">Loteria francesa</a></li>
		<li><a th:href="@{/loto/genera/90/6/inglesa}">Loteria inglesa</a></li>
	</ul>
<br><br>
<a href="/">Volver</a>
</body>
</html>